---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Masthead from '../components/Masthead.astro'
import { Image } from '@astrojs/image/components'

const posts = (await Astro.glob('./posts/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            In the rapidly evolving digital landscape, mastering Artificial Intelligence (AI) can be a game-changer for enhancing productivity and efficiency. By integrating AI into your workflow, you can automate routine tasks, make data-driven decisions, and streamline complex processes. Whether you&apos;re in business, education, healthcare, or any other field, AI offers tools and technologies that can significantly reduce workload and time consumption. Embrace the power of AI to transform the way you work, enabling you to achieve more in less time and stay ahead in your career.

            <br><br>

            Dalam lanskap digital yang berkembang pesat, menguasai Kecerdasan Buatan (AI) dapat menjadi pembeda utama dalam meningkatkan produktivitas dan efisiensi. Dengan mengintegrasikan AI ke dalam alur kerja Anda, Anda dapat mengotomatisasi tugas rutin, membuat keputusan berbasis data, dan menyederhanakan proses kompleks. Baik Anda berada di dunia bisnis, pendidikan, kesehatan, atau bidang lainnya, AI menawarkan alat dan teknologi yang dapat secara signifikan mengurangi beban kerja dan konsumsi waktu. Manfaatkan kekuatan AI untuk mengubah cara Anda bekerja, memungkinkan Anda untuk mencapai lebih banyak dalam waktu yang lebih singkat dan tetap unggul dalam karier Anda.
          
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li class="text-center mb-4">
                  <a href={post.url}>
                    <Image
                      class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                      src={post.frontmatter.heroImage}
                      width={720 * 2}
                      aspectRatio={2.0}
                      alt="Thumbnail"
                    />
                    <div class="mt-3 text-xl font-bold">
                      {post.frontmatter.title}
                    </div>
                    {post.frontmatter.description && (
                      <div class="opacity-70">
                        {post.frontmatter.description}
                      </div>
                    )}
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
